html,
body,
#root,
.Dashboard {
  height: 100%;
}

.dashboard {
  height: 100%;
  padding: 12px;
  place-items: center;
  background-color: #f1f1f1;
}

.dashboard-body {
  background-color: #fff;
  box-shadow: -1px 4px 20px -8px rgba(0, 0, 0, 0.65);
  border-radius: 15px;
}

.dashboard-inner {
  padding: 20px;
}