.portfolio-table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  font-size: 14px;
}

.portfolio-table tr {
  border-bottom: 1px solid #ddd;
}

.portfolio-table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

.portfolio-table tr:nth-child(even) {
  background-color: #fff;
}

.portfolio-table td,
.portfolio-table th {
  padding: 9px 9px;
  display: table-cell;
  border: 1px solid #ddd;
  text-align: center;
}

.portfolio-table th:first-child,
.portfolio-table td:first-child {
  min-width: 4%;
}

.portfolio-table td:nth-child(2) {
  width: 17%;
}

.portfolio-table th {
  color: #32302f;
  background-color: #fff;
}

.cursor-pointer.select-none {
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
  align-items: center;
}
