h1 {
  color: #33691e;
  text-align: center;
}

h2 {
  color: #33691e;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #e0e0e0;
}

.app-body {
  background-color: #f0f0f0;
  height: 98vh;
  width: 98vw;
  box-shadow: -1px 4px 20px -8px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}

.app-inner {
  padding: 20px;
}